<% provide(:title, 'Deep Object Scan') %>
<h1>Deep Object Scan <small><%= link_to "JSON", "/memory/objects.json" %> | <%= link_to "Back to Memory", "/memory" %></small></h1>

<div class="alert alert-warning">
  <strong>Measured heap:</strong> <%= @stats[:total_memsize_mb] %> MB
  (via <code>ObjectSpace.memsize_of</code> summed across all live objects)
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">Top Classes by Count</h4></div>
      <table class="table table-condensed">
        <thead><tr><th>Class</th><th class="text-right">Count</th></tr></thead>
        <tbody>
          <% @stats[:by_count].each do |row| %>
            <tr><td><code><%= row[:class_name] %></code></td><td class="text-right"><%= number_with_delimiter(row[:count]) %></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">Top Classes by Size</h4></div>
      <table class="table table-condensed">
        <thead><tr><th>Class</th><th class="text-right">Size</th></tr></thead>
        <tbody>
          <% @stats[:by_size].each do |row| %>
            <tr><td><code><%= row[:class_name] %></code></td><td class="text-right"><%= (row[:bytes] / 1048576.0).round(1) %> MB</td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
