<table class="table table-condensed table-striped" id="registry-table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Coverage</th>
      <th>Path</th>
    </tr>
  </thead>
  <tbody>
    <% entries.each do |entry| %>
      <tr data-path="<%= entry[:path].downcase %>">
        <td>
          <% case entry[:category] %>
          <% when :app %>
            <span class="label label-primary">app</span>
          <% when :gem %>
            <span class="label label-warning">gem</span>
          <% when :stdlib %>
            <span class="label label-default">stdlib</span>
          <% else %>
            <span class="label label-info">other</span>
          <% end %>
        </td>
        <td>
          <% if entry[:coverage] == :full %>
            <span class="label label-success">full</span>
          <% else %>
            <span class="label label-warning">partial (<%= entry[:iseq_count] %> iseqs)</span>
          <% end %>
        </td>
        <td>
          <% if entry[:category] == :stdlib && defined?(@stdlib_prefix) && entry[:path].start_with?(@stdlib_prefix) %>
            <% rel_path = entry[:path].delete_prefix(@stdlib_prefix) %>
            <% gem_info = @stdlib_github&.[](rel_path) %>
            <% if gem_info %>
              <a href="https://github.com/<%= gem_info[:repo] %>/blob/<%= gem_info[:tag] %>/lib/<%= rel_path %>"
                 target="_blank"><code style="font-size: 0.85em; color: #337ab7; text-decoration: underline;"><%= entry[:path] %></code></a>
            <% else %>
              <a href="https://github.com/ruby/ruby/blob/<%= @ruby_github_tag %>/lib/<%= rel_path %>"
                 target="_blank"><code style="font-size: 0.85em; color: #337ab7; text-decoration: underline;"><%= entry[:path] %></code></a>
            <% end %>
          <% else %>
            <code style="font-size: 0.85em;"><%= entry[:path] %></code>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
